/* .userName {
    font-weight: bold;
    text-transform: capitalize;
    height: 50px;
    width: 100%;
    min-width: 150px;
    border-bottom: 1px solid black;
    padding: 5%;
    border-collapse: collapse;
}

.userBio {
    margin-left: 1%;
    height: 50px;
    width: 100%;
    min-width: 200px;
    border-bottom: 1px solid black;
    padding: 5%;
} */

table, td {
    border: 1px solid teal;
}

.userName, .userBio {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 5%;
    height: 50px;
}